<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление читателя</title>
</head>
<body>

<form th:action="${'/blog/usermain/useradd'}" method="post">
    <hr>
    <input type="text" name="login" placeholder="Введите Заголовок поста"><br><br>
    <input type="password" name="password" placeholder="Введите Имя поста"><br><br>
    <input type="number" name="phone" placeholder="Введите информацию о посте"><br><br>
    <input type="number" name="checks" placeholder="Введите текст поста"><br><br>
    <label>Заблокированный</label>
    <input type="radio" name="accesss" value="0"><br>
    <label>Подверждённый</label>
    <input type="radio" name="accesss" value="1">
    <br>
    <br>
    <button type="submit">Добавить читателя</button>
    <hr>
</form>

<form method="post" th:action="${'/blog/usermain/useradd/result'}">
    <input type="text" name="login">
    <button type="submit">Найти</button>
    <div th:each="el : ${result}">
        <hr>
        <h3 th:text="${el.login}"></h3>
        <h2 th:text="${el.password}"></h2>
        <p th:text="${el.phone}"></p>
        <p th:text="${el.checks}"></p>
        <p th:text="${el.accesss}"></p>
        <hr>
    </div>
</form>

<form method="post" th:action="${'/blog/usermain/useradd/resultnocon'}">
    <input type="text" name="login">
    <button type="submit">Найти</button>
    <div th:each="el : ${resultnocon}">
        <hr>
        <h3 th:text="${el.login}"></h3>
        <h2 th:text="${el.password}"></h2>
        <p th:text="${el.phone}"></p>
        <p th:text="${el.checks}"></p>
        <p th:text="${el.accesss}"></p>
        <hr>
    </div>
</form>
</body>
</html>